# ==========================================================================
# CSE 232 Text Editor - GitIgnore
# ==========================================================================

# Our Specific Executable Target
editor_app

# Object files & Prerequisites
*.o
*.obj
*.d

# Executables & Linker Outputs
*.exe
*.out
*.app
*.map

# Debug files & Directories
*.dSYM/
*.su
*.pdb

# IDE & Editor Specifics
.vscode/
.idea/
*.swp

# OS-Specific Junk (CRITICAL for Mac users)
.DS_Store
Thumbs.db